.carousel {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 15px auto;
}

.img-box {
  width:100%;
  height:auto;
  position:absolute;
}

.img-box img {
  width: 300px;
  height: 200px;
}

.controls {
  position: relative;
  text-align: center;
  padding-top: 220px;
}


.prev img, .next img{
  width: 20px;
}

.prev:hover, .next:hover {
  cursor: pointer;
}

button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 85px;
}

.img-counter {
  font-weight: bold;
  text-align: center;
  margin: 15px auto;
}

h4 {
  text-align: center;
  font-family: tahoma;
}

hr {
  margin-top: 100px;
}